# Exclude a Terraform State Files and Provider files
.terraform*
.terraform
terraform*

# Exclude Key Pair used in testing locally
.keys/*

# Exclude GCP Credentials
.CREDENTIAL.json

#VSCODE settings
.vscode/*

#VM
vm_ip.txt


